<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="zxeltor.StoCombatAnalyzer.Interface.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <zxeltor.StoCombatAnalyzer.Interface.Properties.Settings>
      <setting name="CombatLogPath" serializeAs="String">
        <value>c:\temp</value>
      </setting>
      <setting name="CombatLogPathFilePattern" serializeAs="String">
        <value>combatlog*.log</value>
      </setting>
      <setting name="MaxNumberOfCombatsToDisplay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HowLongBeforeNewCombat" serializeAs="String">
        <value>10</value>
      </setting>
    </zxeltor.StoCombatAnalyzer.Interface.Properties.Settings>
  </userSettings>
</configuration>