<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="zxeltor.StoCombat.Realtime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <zxeltor.StoCombat.Realtime.Properties.Settings>
            <setting name="CombatLogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CombatLogPathFilePattern" serializeAs="String">
                <value>combatlog*.log</value>
            </setting>
            <setting name="HowLongBeforeNewCombatInSeconds" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MyCharacter" serializeAs="String">
                <value />
            </setting>
            <setting name="IsEnableInactiveTimeCalculations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinInActiveInSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HowOftenPullDataFromLogFilesSeconds" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="IsDebugLoggingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUnrealAnnouncementsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsKeepPlayersInListAfterCombat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MultiKillWaitInSeconds" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="IsCalculateAssitedKills" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsIncludeAssistedKillsInAchievements" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HowOftenParseLogsInSeconds" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IsProcessKillingSpreeAnnouncements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsProcessMultiKillAnnouncements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnnouncementPlaybackVolumePercentage" serializeAs="String">
                <value>100</value>
            </setting>
        </zxeltor.StoCombat.Realtime.Properties.Settings>
    </userSettings>
</configuration>